<label class="control-label" {{bindAttr for='view.inputElement.elementId'}}>Email</label>
<div class="controls">
    {{view Em.TextField valueBinding='view.value' nameBinding='view.fieldId' viewName="inputElement"}}
  <br/>
  (we won't use your email for anything but password recovery unless you tell us otherwise)
</div>