<label class="col-sm-2 control-label" {{bindAttr for='view.inputElement.elementId'}}>{{view.label}}</label>
<div {{bind-attr class=":col-sm-10 :controls"}}>
  {{view Em.TextArea classBinding = "view.classes"  valueBinding='view.value' nameBinding='view.fieldId' typeBinding="view.type" viewName="inputElement" actionBinding="view.action" rows="10"}}
</div>