<h1>Seanchai</h1>
<h2>Current Models</h2>
<ul>
  <li><%= link_to 'Users', users_path %></li>
  <li><%= link_to 'Stories', stories_path %></li>
  <li><%= link_to 'Sections', sections_path %></li>
  <li><%= link_to 'Chapters', chapters_path %></li>  
</ul>