<h2>Dashboard</h2>
<div class="row">
  <div id="recent-stories" class="two-thirds panel">
    <div class="panel-body dashboard-panel">
      <div class="panel-header">
        <h3>Recent Additions to the Library</h3>
      </div>
      <ul>
      {{#each recent_stories}}
        <li>{{#link-to 'story' this}}{{title}} - {{pretty_date 'updated_at'}}{{/link-to}}</li>
      {{/each}}
      </ul>
    </div>

  </div>
  <div id="reading-list" class="one-third right panel">
    <div class="panel-body dashboard-panel">
      <div class="panel-header">
        <h3>Reading List</h3>
      </div>
    </div>

  </div>
</div>
<div class="row">
  <div id="my-published-stories" class="two-thirds panel">
    <div class="panel-body dashboard-panel">
      <div class="panel-header">
        <h3>My Published Stories</h3>
      </div>
    </div>

  </div>
  <div id="my-drafts" class="one-third right panel">
    <div class="panel-body dashboard-panel">
      <div class="panel-header">
        <h3>My Drafts</h3>
      </div>
    </div>
  </div>
</div>
