<div id="forgot_password_div">
  <% form_tag(reset_password_path, :method => 'post', :id => 'forgot_password_form') do  %>
    <p>
      Email:
      <%= text_field_tag "email" %>
    </p>
    <p>
      <%= submit_tag "Send me my password" %>
    </p>
  <% end %>

</div>