<h1>What is <em>Seanchai?</em></h1>
<p>
  In Hollywood terms, it's Wordpress meets Kindle. An e-reader for the web.
  Things are a little sparse right now (hey, it's an alpha release!), but
  we're building a new kind of home for fiction online, one that will give
  readers the kinds of conveniences they're used to on e-readers through their
  browsers.
</p>
<p>
  If you're here, it's because you've been invited to take part in the alpha
  phase of <b>Seanchai</b>. What do I need from you? First, I'd like you to use it.
  Post stuff, see how they look, try to break things, and tell me how it can be
  better. The user interface is very spare, and is in no way set in stone. Anything can
  change if it'll help <b>Seanchai</b> become better.
</p>
<p>
  Keep in mind that, as an alpha release, there may come times when we need to clear out
  data, delete stories and users, or otherwise roll back things you've done. Stuff might be
  broken. No strike that. Stuff <i>will</i> be broken. Stuff that gets added will be added
  broken. Fixing broken stuff might break other stuff. It'll be carnage. It'll be fun.
</p>
<p>
  What should you post to test things out? Anything you want. Lorem Ipsum text, chunks of
  text taken from Project Gutenberg, stuff of your own...whatever. It doesn't matter. Remember
  that other people in the Alpha will be able to see anything you publish, though, so don't
  put up a work in progress that you want to keep hidden. Before we go live, everything will be
  wiped. Honestly, before we go to <i>beta</i> things might get wiped. What that means is you
  shouldn't worry about anything you post becoming part of the live site. It's just for testing.
</p>
<p>
  Most importantly: Send me any and all feedback that you have. I'm going to get a bug/suggestion
  form set up soon, but in the meantime, feel free to email me your thoughts.
</p>
<p>
  Enjoy!
</p>

<h2><strong>Typography tests!</strong></h2>

<h1>This is a Heading, used for Titles</h1>
<h2>This is a Subheading</h2>
<p>This is a paragraph</p>

<h2>Changelog</h2>