<legend>{{controller.firstObject.creator_id}}'s Stories</legend>
<ul>
  {{#each controller}}
    {{#if title}}
      <li>
        {{#link-to 'story_sections_index' this}}{{title}}{{/link-to}}
      </li>
    {{/if}}
  {{/each}}
</ul>