<h3>{{controller.username}}</h3>
<div class="row-fluid">
  <div class="span1">Name: </div>
  <div class="span1">{{controller.name}}</div>
</div>
<div class="row-fluid">
  <div class="span1">Email: </div>
  <div class="span1">{{controller.email}}</div>
</div>
{{#if controller.editable}}
  <div class="row-fluid">
    {{#link-to 'edit_user' controller}}Edit{{/link-to}}
  </div>
{{/if}}

